<div class="card" style="width: 36rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @post.title %></h5>
    <p class="card-text"><%= @post.post %></p>
    <% if current_user %>
      <% if @post.user_id == current_user.id %>
        <a class="card-link"><%= link_to 'Edit', edit_post_path(@post), class: "btn btn-primary" %></a> |
        <a class="card-link"><%= link_to "Delete post", post_path(@post),
          method: :delete, data: { confirm: 'Confirm you would like to delete this post' }, class: "btn btn-primary" %></a> |
        <a class="card-link"><%= link_to "Reply", new_reply_path(:post_id => @post.id), class: "btn btn-primary" %></a>
      <% else %>
        <a class="card-link"><%= link_to "Reply", new_reply_path(:post_id => @post.id), class: "btn btn-primary" %></a>
      <% end %>
    <% end %>
  </div>
</div>

<% @replies.each do |r| %>
  <div class="card" style="width: 36rem; margin-left: 50px;">
    <div class="card-body">
      <p class="card-text"><%= r.comment %></p>
      <% if current_user %>
        <% if r.user_id == current_user.id %>
          <a class="card-link"><%= link_to 'Edit', edit_reply_path(r, :post_id => @post.id), class: "btn btn-primary" %></a> |
          <a class="card-link"><%= link_to "Delete post", reply_path(r, :post_id => @post.id),
            method: :delete, data: { confirm: 'Confirm you would like to delete this reply' }, class: "btn btn-primary" %></a>
        <% else %>

        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
